.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
composer.lock
public/media/avatar/*.jpg
public/media/avatar/*.jpeg
public/media/avatar/*.png
public/media/avatar/*.gif

public/media/albuns/*/*.jpg
public/media/albuns/*/*.jpeg
public/media/albuns/*/*.png
public/media/albuns/*/*.gif

public/media/banners/*.jpg
public/media/banners/*.jpeg
public/media/banners/*.png
public/media/banners/*.gif