
/**
 * -------------------------------------------------------------------
 * Folha de estilos do layout de demonstração do Wpanel CMS
 * 
 * @author Eliel de Paula <dev@elieldepaula.com.br>
 * -------------------------------------------------------------------
 */

/* Estilos gerais */
body {
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 35px;
}
.wpn-social-buttons {
    margin-bottom: 10px;
}
.wpn-ads {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos das listas de postagens */
.wpn-postagens {}
.wpn-postagens .wpn-capa {
    height:200px;
    overflow: hidden;
    margin-top:15px;
    margin-bottom:15px;
}

/* Estilos da exibição de postagem */
.wpn-postagem {}
.wpn-postagem .wpn-capa {
    margin-top:15px;
    margin-bottom:15px;
}

/* Estilos da sidebar */
.wpn-sidebar {}
.menu-sidebar {
    list-style: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

/* Estilos do rodapé */
.wpn-footer {}
.wpn-footer .wpn-copyright {
  border-top: solid 1px #ccc;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
    text-align: center;
}
